{% extends "base.html" %}
{% block header %}
<header class="container">
    <h1 class="display-4 text-white">Dash<span class="text-warning">board</span> </h1>  
</header>
   
{% endblock header %}

{% block content %}
<div class="container">         

      {% for cat,mes in  get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{{cat}}" role="alert" style="text-align: center;">
              {{mes}}
            </div> 
      {% endfor %}
      
       <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Add Expenses</h5>
              <p class="card-text">Click on the button below to add your daily expenses.</p>
              {% if session['budget']%}
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#st">Add</button>
              {%else%}
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#st" disabled>Add</button>
              {% endif %}
                <div class="modal fade bd-example-modal-lg" id="st"tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content bg-dark text-white">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Expense</h5>
                        <button type="button" class="text-white close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form action="/aexpense" method='POST'>
                          <div class="form-group">
                            <label for="recipient-name"  class="col-form-label">Amount:</label>
                            <input type="number" name="am" class="form-control" id="recipient-name" placeholder="$" required>
                          </div>
                          <div class="form-group">
                              <label for="message-text" class="col-form-label">Category:</label>
                              
                              <select name='categ' id="inputState" class="form-control" required>
                                <option selected>Choose...</option>
                                <option>Food</option>
                                <option>Groceries</option>
                                <option>Utilities</option>
                                <option>Dining</option>
                                <option>Shopping</option>
                                <option>Travel</option>
                                <option>Entertainment</option>
                                <option>Other</option>
                              </select>   
                          </div>
                          <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Date:</label>
                            <input type="date" name="date" class="form-control" id="recipient-name" placeholder="" required>
                          </div>
                          <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Description:</label>
                            <input type="text" name="desc" class="form-control" id="recipient-name"  placeholder="" required>
                          </div>
                          
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-primary" >Add</button>
                          </div>
                        </form>
                      </div>
 
                      ...
                    </div>
                  </div>
                </div>
                 
            </div>
          </div>
        </div>
        <div class="col-sm-4 mb-sm-5">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Budget</h5>
              <p class="card-text">Click on either of the buttons below to either Create/Update your budget. </p>
              {% if session['budget'] %}
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateModal" data-whatever="@mdo">Update</button>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Create</button>
                  
              {%else%}
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Create</button>    
              {% endif %}
              
            </div>
          </div>
          
        </div>
        
        <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title" >Statistics</h5>
                <p class="card-text">Click the button below to view the garphical representation of your expenses  .</p>
                {% if session['s_m'] %}

                  <a href="/statistics" class="btn btn-primary">{{session['s_m'][5:]}}</a>
                  <a href="/statistics/months" class="btn btn-primary">Months</a>
                  <a href="/statistics/years" class="btn btn-primary">Years</a>
                {% else %}
                  <button href="/statistics" class="btn btn-secondary"  disabled>Budget not set</button>
                

                {% endif %}

              </div>
            </div>

          </div>
          
    {% if budget %}
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card text-white mb-3" style="background-color: #523a78;
                background-image: linear-gradient(316deg, #523a78 0%, #ee696b 74%);text-align: center;">
                  <div class="card-header"><h5 style="font-family: 'Comic Neue', cursive;font-size: 25px;">Budget</h5></div>
                  <div class="card-body d-flex flex-column align-items-end">
                      <img  style="position: absolute;left:40px;bottom:2px;width: 35%;"class="img-fluid  p-2 mr-auto my-flex-item"src="/static/images/money-bag-svgrepo-com.svg" alt="">
                      <h5 style="width: 50%;font-size: 25px;" class="card-title p-2 my-flex-item position-relative">Your budget is :</h5>
                      <h1 style="width: 50%;font-size: 60px;" class="lead p-2 my-flex-item position-relative">${{budget}}</h1>

                        {%if session['s_m'] %}
                          <i  style="width: 50%;" class="p-2 my-flex-item  position-relative">For the month of {{session['s_m']}}</i>
                        {% else %}
                          <i  style="width: 50%;" class="p-2 my-flex-item  position-relative">For the month of {{session['b_m']}}</i>
                        {% endif %}
                  </div>
                </div> 
            </div>
            {% if total < budget %}
                <div class="col-lg-6 mb-4">
                      <div class="card text-white mb-3" style="background-color: #3bb78f;
                      background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);text-align: center;">
                        <div class="card-header"><h5 style="font-family: 'Comic Neue', cursive;font-size: 25px;">Expenses</h5></div>
                            <div class="card-body d-flex flex-column align-items-end">
                              <img style="position: absolute;left:40px;bottom:35px;width: 40%;"class="img-fluid  p-2 mr-auto my-flex-item"src="/static/images/undraw_wallet_aym5.svg" alt="">
                          
                                <h5 style="width: 50%;font-size: 25px;" class="card-title p-2 my-flex-item position-relative">Your total expense is :</h5>
                                <h1 style="width: 50%;font-size: 60px;" class="lead p-2 my-flex-item position-relative">${{total}}</h1>
                                {%if session['s_m'] %}
                                  <i style="width: 50%;" class="p-2 my-flex-item  position-relative">For the month of {{session['s_m']}}</i>
                                {% else %}
                                  <i style="width: 50%;" class="p-2 my-flex-item  position-relative">For the month of {{session['b_m']}}</i>
                                {% endif %}
                            </div>
                      </div>
                </div>
            {% else %}
                <div class="col-lg-6 mb-4">
                  <div class="card text-white bg-danger mb-3" style="background-color: #99201c;
                  background-image: linear-gradient(316deg, #99201c 0%, #f56545 74%);
                  
                  " >
                    <div style="text-align: center;"class="card-header"><h5 style="font-family: 'Comic Neue', cursive;font-size: 25px;">Expenses : WARNING</h5></div>
                    <div class="card-body d-flex flex-column align-items-end">
                      <img  style="position: absolute;left:40px;bottom:35px;width: 40%;"class="img-fluid w-25 d-none d-sm-block"src="/static/images/309911.svg" alt="">
                        
                      <h5 style="width: 50%;font-size: 25px;" class="card-title p-2 my-flex-item position-relative">Budget Exceeded </h5>
                      <h1 style="width: 50%;font-size: 60px;" class="lead p-2 my-flex-item position-relative">${{total}}</h1><br><br>
                      
                    </div>
                  </div>
                </div>
             {% endif %}   
          </div> 
        </div>
    {% endif %}
    <div class="container">
      {% if d_m %}
    
    
    <span style="width: 250px;height: 50px;">
        
        <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target=".bd-choose-modal-sm">Choose Budget Month</button>
    </span>  
        
       
    {% endif %}
    {% if budget and total %}
    <span style="width: 250px;height: 50px;float: right;">
      <a href="{{url_for('email_transaction')}}"><button type="submit" class="btn btn-success m-1 " >Email Transactions</button></a>
    </span>
  
    <span style="width: 250px;height: 50px;float: right;">
     
        <a href="{{url_for('download_transactions')}}"><button type="submit" class="btn btn-success m-1 " >Download Transactions</button></a>  
        
    
    </span>
    

    {% endif %}

    </div>
    
    
            
            <table class="table table-dark table-striped table-hover container">
              <thead>
                <tr>
                  <th scope="col" >Sl.No</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Category</th>
                  <th scope="col">Date</th>
                  <th scope="col">Description</th>
                  <th scope="col">&nbsp</th>
                  
                </tr>
              </thead>
            
              
                {% for each in range(0,data|length) %} 
                
                  
                  <tr id={{data[each]['ex_id']}}>
                      <td>{{each}}</td>
                      <td>${{ data[each]['amount'] }}</td>
                      <td>{{data[each]['category']}}</td>
                      <td>{{data[each]['date']}}</td>
                      <td>{{data[each]['description']}}</td>
          
                      <td>
                        <a href='/uexpense/{{data[each]['ex_id']}}' class="btn btn-outline-primary" data-toggle="modal" data-target="#myModal{{data[each]['ex_id']}}" id={{data[each]['ex_id']}}><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                          <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                        </svg></a>
                        |
                        <form style="display: inline;" action='/delete' method='POST'>
                          <input value={{data[each]['ex_id']}} name="del" style="display: none;">
                          <button type="submit" class="btn btn-outline-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                          </svg></button>
                          
                        </form>
                        
                      </td>
                  </tr>
               
<div class="modal fade" id="myModal{{data[each]['ex_id']}}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content bg-dark text-white">
              
        <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Expense</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form action="{{url_for('uexpense',id=data[each]['ex_id']) }}" method='POST'>
          <div class="form-group">
            <label for="recipient-nameup"  class="col-form-label">Current Amount:</label>
            <input type="text" readonly name="old_amount" class="form-control" id="recipient-name" value=${{data[each]['amount']}}>
            <label for="recipient-nameup"  class="col-form-label"> Update Amount:</label>
            <input type="number" name="nam" class="form-control" id="recipient-nameup" 
                  placeholder="$" required>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Category:</label>

            <select name='ncateg' id="inputState" class="form-control" required>
              <option selected>{{data[each]['category']}}</option>
              <option>Food</option>
              <option>Groceries</option>
              <option>Utilities</option>
              <option>Dining</option>
              <option>Shopping</option>
              <option>Travel</option>
              <option>Entertainment</option>
              <option>Other</option>
            </select>   
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label"> Current Date:</label>
            <input type="text" readonly name="old_date" class="form-control" id="recipient-name" placeholder={{data[each]['date']}}>
            <label for="recipient-name" class="col-form-label">Date:</label>
            <input type="date" name="ndate" class="form-control" id="recipient-name" required>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Description:</label>
            <input type="text" name="ndesc" class="form-control input-lg" id="recipient-name" placeholder={{data[each]['description']}} required >
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" >Update</button>
        </div>
        </form>
      </div>
      
    </div>
  </div>
</div>            
</div>   

         
               

               
               
                  {% endfor %}
            
            </table>
<!-- ALL OF THE REQUIRED MODALS -->

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content bg-dark text-white">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Set Budget</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="/setbudget" method='POST'>
                      <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Amount:</label>
                        <input type="number" name="budget" class="form-control" id="recipient-name" placeholder="$" required>
                      </div>
                      <!-- <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Date:</label>
                        <input type="date" name="date" class="form-control" id="datepicker" placeholder="" required value="20-04-2021">
                      </div> -->
                      <div class="form-group">
                        <select name='b_y' class="form-control form-control-sm">
                          {% for i in range(2021,2101) %}
                            <option>{{i}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="form-group">
                          <select name='b_m' class="form-control form-control-sm">
                            {% for i in month %}
                              <option>{{i}}</option>
                            {% endfor %}
                          </select>
                      </div>
                     
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Set</button>
                      </div>
                    </form>
                  </div>
                  
                </div>
              </div>
            </div>
            
            <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content bg-dark text-white">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update Budget</h5>
                    <button type="button" class="text-white close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="/updatebudget" method='POST'>
                      <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Current Amount:</label>
                        <input type="number" name="currentbudget" class="form-control" id="recipient-name" placeholder="$ {{session['budget']}}">
                      </div>
                      <div class="form-group">
                        <label for="recipient-name" class="col-form-label">New Amount:</label>
                        <input type="number" name="updatebudget" class="form-control" id="recipient-name" placeholder="$ ">
                      </div>
                      <div class="form-group">
                        <select name='b_y' class="form-control form-control-sm">
                          {% for i in session['years']|unique %}
                            <option>{{i}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="form-group">
                          <select name='b_m' class="form-control form-control-sm">
                            
                            {% for i in session['d_m'] %}
                              <option>{{i}}</option>
                            {% endfor %}
                          </select>
                      </div>
                      
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Update</button>
                      </div>
                    </form>
                  </div>
                  
                </div>
              </div>
            </div>
                  
            

            <div class="modal fade bd-choose-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-sm">
                <div class="modal-content bg-dark text-white">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Choose Budget Month</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form action="" id="switchmon">
                      <div class="form-group">
                        <select class="form-control form-control-sm" id="smy">
                          {% for i in session['years']|unique %}
                            <option>{{i}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="form-group">
                          <select class="form-control form-control-sm" id="smm">
                            
                            {% for i in session['d_m'] %}
                              <option>{{i}}</option>
                            {% endfor %}
                          </select>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Set</button>
                      </div>
                  </form>
                </div>
              </div>
            </div>



  {% block js %}
    <script>
        var form=document.getElementById('switchmon');
        form.addEventListener('submit',function(e){
          var month=document.getElementById('smm').value;
          var year=document.getElementById('smy').value;
          form.action="/switchmonth/"+year+"-"+month;
     
        });
    </script>
  {% endblock js %}
         
            
         

         


      
            
{% endblock content %}


