<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
        
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!-- Font Awesome -->
        <link
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        rel="stylesheet"
        />
        <!-- Google Fonts -->
        <link
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
        rel="stylesheet"
        />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
        
      </head>
      <header>
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid m-2">
            <a class="navbar-brand" href="/home" style="font-family: 'Fjalla One', sans-serif;">X-Pense</a>
            <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent1">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                {% if not session['id'] %}
                  <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                  </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
              </ul>
              
              <form class="d-flex" action="/login" method="POST">
                {% if session['id'] %}
                  <button  type="button" class="btn btn-warning " id="donate" > Username : {{session['username']}}</button> <span>&nbsp</span>
                  <a  type="button" class="btn btn-outline-success" id="donate" href="/logout">LOGOUT</a>
                {% else %}
                  <input type="text" name='username' class="form-control me-2" placeholder="Username" aria-label="uname" aria-describedby="basic-addon1">
                  <input type="password" name='password' class="form-control me-2" placeholder="Password" aria-label="password" aria-describedby="basic-addon1">
                  <button class="btn btn-outline-success" type="submit">Login</button>
                {% endif %}
              </form>
            </div>
          </div>
        </nav>
        
    </header>
    <body class="bg-dark">
      {% if msg=="Account doesn't not exist" %}
          <div style="color:red" class="mr-3 mt-2">{{ msg }}</div>
      {% else %}
          <div style="color:green" class="mr-3 mt-2">{{ msg }}</div>
      {% endif %}
    <div style="color:red" class="mr-3 mt-2">{{ wa }}</div>
    
      <section class="bg-dark text-light p-5 text-center text-sm-start">
        <div class="container">
          <div class="d-sm-flex align-items-center justify-content-between">
            <div class="left-text">
              <h1 class="display-4">Expense <span class="text-warning">Tracker</span></h1>
              {% if session['loggedin'] %}
                <p class="lead my-4">Welcome to a whole new atmosphere of expense management <b class="text-success">{{session['username']}}</b></span></p>
                <hr class="my-4">
                <p class="lead">Please click on the button below to go to you dahsboard.</p>
                <p class="regbtn lead">  
                    <a class="btn btn-outline-primary btn-lg" href="/dashboard" role="button">Dashboard</a>
                    {{sample}}
                </p>
                
              {% else %}
                
                <p class="lead">This is a small expense tracker, please Login/Register to manage your expenses</p>
                <hr class="my-4">
                <p>Click on the button below to create an account</p>
                <p class="lead">  
                    <a class="regbtn btn btn-outline-primary btn-lg" href="/register" role="button">Register</a>
                    {{sample}}
                </p>
              {% endif %}
                
              
            </div>
            <img  class="img-fluid w-50 d-none d-sm-block"src="/static/images/pic2.svg" alt="">
          </div>
        </div>
      </section>
      <section style="background-color: #8AB2E0" class="feed text-light p-5">
          <div class="container">
            <form action='/feedback' method="POST">
            <div class="d-md-flex justify-content-between align-items-center">
              <h3 class="text-dark mb-3 mb-md-0 m-2">We Value Your Feedback</h3> 
              <div class="input-group news-input">
                <input type="text" name='name' class="form-control m-2" placeholder="Enter Your Name" >
              </div> 
              <div class="input-group news-input">
                <input type="text" name='feedback' class="form-control m-2" placeholder="Enter Your Feedback" >
              </div> 
              <button class="btn btn-dark m-2 " type="submit">Submit</button>  
                    
            </div>
          </form>
          </div>
          
      </section>
      <section style="font-family: 'Comic Neue', cursive;"class="p-5">
        <div class="container">
          <div style="left: 50%;right: 50%;">
            <h3 class="display-6 text-white text-center">Why Choose Us?</h3>
            <br>
          </div>
          <br>

          <div style="padding-bottom: 30px;"class=" row text-center g-4">
            <div class="col-md">
              <div style="background-color: #F3CCB8"class="fcd card text-dark h-100">
                <div class="card-body text-center">
                  <div class="h1 mb-3">
                    <i class="bi bi-people"></i>
                  </div>
                  <h3 class="card-title mb-3">User Friendly</h3>
                  <p style="font-weight: 300;"class="card-text">
                    We strive to provide our customers with an ease and fluid movement through our user interface.
                  </p>
                  
                </div>
              </div>
            </div>
            <div class="col-md">
              <div style="background-color: #C5D0EB"class="scd card text-dark">
                <div class="card-body text-center h-100">
                  <div class="h1 mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                      <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"/>
                      <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path fill-rule="evenodd" d="M8 13.5a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
                    </svg>
                  </div>
                  <h3 class="card-title mb-3">Easy Management</h3>
                  <p style="font-weight: 300;"class="card-text">
                    X-Pense facilitates efficient asset management and accounting. Create budgets/Add expenses with ease.
                  </p>
                  
                </div>
              </div>
            </div>
            <div class="col-md">
              <div style="background-color:#A8C898;" class="fcd card text-dark h-100">
                <div class="card-body text-center">
                  <div class="h1 mb-3">
                    <i class="bi bi-graph-up"></i>
                  </div>
                  <h3 class="card-title mb-3">Analytics</h3>
                  <p style="font-weight: 300;"class="card-text">
                    We provide an insight into your spending habits using which can help in managing your wealth more efficiently.
                  </p>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <hr style="color:white">
        
    </body>
    <footer class="bg-dark text-white">
      <!-- Grid container -->
      <div class="container-fluid mt-3 mb-5">

        <!-- Section: Block Content -->
        <section class="mb-4">
      
          <style>
            .map-container {
              overflow: hidden;
              position: relative;
              height: 0;
            }
      
            .map-container iframe {
              left: 0;
              top: 0;
              height: 100%;
              width: 100%;
              position: absolute;
            }
          </style>
      
          <div class="contact card bg-dark">
      
            <div class="row">
              <div class="col-md-6">
      
                <!-- Google Maps -->
                <div id="map" class="map-container rounded-left d-none d-sm-block" style="height: 400px">
                  <iframe style="filter: invert(90%);"class="bg-dark "src="https://maps.google.com/maps?q=Seattle&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                     allowfullscreen></iframe>
                </div>
                <!-- Google Maps -->
      
              </div>
              
      
              <div class="col-10 col-md-4 mx-auto align-self-center py-4 text-center text-sm-start">
                <h1 class="display-5">Contact Info</h1><hr class="d-none d-sm-block"style="width: 50%;">
      
                <h6 class="font-weight-bold text-secondary text-uppercase small">Head Office</h6>
                <h5 class="font-weight-normal mb-4 text-light">Seattle, WA</h5>
                <p class="text-white font-weight-light"><i class="fas fa-map-marker-alt fa-1x blue-text"></i><a style="text-decoration: none;"class="text-light"target="_blank" href="https://www.google.com/maps/place/Seattle,+WA/@47.60612,-122.325249,13z/data=!4m5!3m4!1s0x5490102c93e83355:0x102565466944d59a!8m2!3d47.6062095!4d-122.3320708?hl=en-US">   2651 Main Street, Suit 124<br>Seattle, WA, 98101</a></p>
                <p class="text-white font-weight-light mb-0"> <i class="fas fa-phone fa-1x blue-text"></i>   Phone: +1 987 123 6548<br><i class="fas fa-envelope fa-1x blue-text"></i>  Email: noreplyflaskblog@gmail.com<br><i class="fab fa-internet-explorer fa-1x blue-text"></i>  Website: www.testpurposelink.com
                <br><i class="fas fa-fax fa-1x blue-text"></i>  Fax No: +57-212-9876543 </p>

      
              </div>
            </div>
      
          </div>
      
        </section>
        <!-- Section: Block Content -->
      
      </div>
      
        <!-- Section: Social media -->
        <hr>
        <section class=" socialm bg-dark mb-4 text-center">
          <!-- Facebook -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-facebook-f"></i
          ></a>
    
          <!-- Twitter -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-twitter"></i
          ></a>
    
          <!-- Google -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-google"></i
          ></a>
    
          <!-- Instagram -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-instagram"></i
          ></a>
    
          <!-- Linkedin -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-linkedin-in"></i
          ></a>
    
          <!-- Github -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/xosteve26" role="button" target="_blank">
          <i class="fab fa-github"></i>
          </a>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
    
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright: X-Pense Tracker
      </div>
      <!-- Copyright -->
    </footer>

    <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>

  <script>
    window.sr=ScrollReveal()
    sr.reveal('.navbar',{
      duration: 2000,
      origin:'bottom'
    });
    sr.reveal('.img-fluid',{
      duration: 2000,
      origin:'top',
      distance:'300px'
    });
    sr.reveal('.left-text',{
      duration: 2000,
      origin:'left',
      distance:'300px'
    });
    sr.reveal('.regbtn',{
      duration: 1500,
      delay:1000,
      origin:'bottom',
    });
    sr.reveal('.fcd',{
      duration: 2000,
      origin:'left',
      distance:'300px',
      rotate:{
        x:50,
        y:50
      },
      viewFactor:0.2
    });
    sr.reveal('.scd',{
      duration: 2000,
      origin:'top',
      distance:'300px',
      rotate:{
        x:50,
        y:50
      },
      viewFactor:0.2
    });
    sr.reveal('.tcd',{
      duration: 2000,
      origin:'right',
      distance:'300px',
      rotate:{
        x:50,
        y:50
      },
      viewFactor:0.2
    });
    sr.reveal('.map',{
      duration:1000,
      origin:'right',
      distance:'150%'
    });
    sr.reveal('.contact',{
      duration:1000,
      delay:500,
      
    });
    sr.reveal('.socialm',{
    
      duration: 1000,
      delay:500,
      origin:'bottom',
  });
  sr.reveal('.feed',{
    
    duration: 1000,
    delay:1000,
    origin:'bottom',
});
  </script>

</html>